.highlight {
    background-color: #fff3cd;
    font-weight: bold;
    color: #856404;
    display: list-item !important;
}

.list-group-flush .list-group-item {
    padding-left: 30px;
    list-style: none;
}

.maincontent {
    box-sizing: border-box;
    background-color: #ffd86e;
    font-family: Helvetica, sans-serif;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.maincontent .container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.maincontent .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #61D4E8;
    border: 4px solid #2DA1E7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -12px;
}

.maincontent .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .maincontent .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .maincontent .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

.maincontent .container {
    margin-right: 0;
    margin-left: 0;
}

.content.hover-animated:hover {
    animation: pulse-border 2s infinite;
}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.7);
    }

    50% {
        box-shadow: 0 0 15px 8px rgba(255, 0, 0, 0.8);
    }

    100% {
        box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.5);
    }
}